<% @products.each do |product| %>
      <div style="margin-top: 50px">
          <strong>Name:</strong> <%= product.name %>
          <br>
          <strong>Price:</strong> <%= product.price %>
      </div>
  <% end %>